{% extends "base.html" %}
{% load static %}
{% block title %}Главная{% endblock %}
{% block content %}
<div>
    {% if cart_items %}
    <table>
        {% for item in cart_items %}
        <tr>
            <td>
                <form action="{% url 'del_from_cart' item.product.id %}" method="post">
                    {% csrf_token %}
                    <button type="submit">Удалить</button>
                </form>

            </td>
            <td>
                <img src="{{ item.product.image.url }}" width="100">
            </td>
            <td>
                {{ item.product.name }}
            </td>
            <td>
                {{ item.quantity }} x {{ item.product.price }}
            </td>
            <td>
                {{ item.total_price }}
            </td>
        </tr>
        {% endfor %}
    </table>
    <p> Итого: {{ total_sum }} </p>
    {% else %}
    <p>Ваша корзина пуста</p>
    {% endif %}
</div>
{% endblock %}