{% extends "base.html" %}
{% load static %}
{% block title %}Главная{% endblock %}
{% block content %}
<main>
    <section class="info container">
        <h2 class="visually-hidden">Важная информация</h2>
        <ul class="info-list info-list_top">
            <li class="info-materials">
                <h3>Материалы</h3>
                <p>На любой вкус</p>
            </li>
            <li class="info-inastrument">
                <h3>Инструмент</h3>
                <p>На все случаи</p>
            </li>
            <li class="info-tehnika">
                <h3>Техника</h3>
                <p>Для стройки</p>
            </li>
        </ul>
        <div class="info-wraper">
            <div class="slider">
                <div class="slide slide1  slide-active">
                    <div class="slide-info">
                        <h3>Дрели</h3>
                        <p>Соседям на радость</p>
                    </div>
                    <a href="{% url 'catalog_url' %}" class="slide-open-button">Открыть Каталог</a>
                    <img src="{% static 'img/drel.png' %}" alt="drel">
                </div>
                <div class="slide  slide2">
                    <div class="slide-info">
                        <h3>Перфораторы</h3>
                        <p>Настоящие мужские игрушки</p>
                    </div>

                    <a href="" class="slide-open-button">Открыть Каталог</a>

                    <img src="{% static 'img/Перфоратоы.png' %}" alt="Перфоратор">
                </div>
                <button class="slider-button slider-button-left "></button>
                <button class="slider-button slider-button-right "></button>
            </div>
            <ul class="info-list">
                <li class="info-skidki">
                    <h3>Скидки 50%</h3>
                    <p>На 350 товаров</p>
                </li>
                <li class="info-dostavka">
                    <h3>Доставка</h3>
                    <p>Бесплатно</p>
                </li>
            </ul>
        </div>
    </section>
    <section class="popular-products container">
        <div class="section-top">
            <h2 class="section-title">Популярные товары:</h2>
            <a href="" class="pop-products">Все популярные товары</a>
        </div>
        <ul class="products-list">
            {% for i in hits %}
            {% include "product.html" %}
            {% endfor %}
        </ul>


    </section>
    <section class="manufacturers container">
        <div class="section-top">
            <h2 class="section-title">Популярные производители:</h2>
            <a href="" class="pop-products">Все производители</a>
        </div>
        <ul class="mans-list">
            <li>
                <img src="{% static 'img/картинки сайт1/bosch.png' %}" alt="">
            </li>
            <li>
                <img src="{% static 'img/картинки сайт1/Makita.png' %}" alt="">
            </li>
            <li>
                <img src="{% static 'img/картинки сайт1/DeWALT.png' %}" alt="">
            </li>
            <li>
                <img src="{% static 'img/картинки сайт1/Интерскол.png' %}" alt="">
            </li>
            <li>
                <img src="{% static 'img/картинки сайт1/Hitachi.png' %}" alt="">
            </li>
            <li>
                <img src="{% static 'img/картинки сайт1/AEG.png' %}" alt="">
            </li>
            <li>
                <img src="{% static 'img/картинки сайт1/LG.png' %}" alt="">
            </li>
            <li>
                <img src="{% static 'img/картинки сайт1/Metabo.png' %}" alt="">
            </li>
        </ul>
    </section>
    <section class="servises">
        <div class="container">
            <h2 class="servise-title">Сервисы</h2>
            <p class="servise-info">Хороший интернет-магазин отличается от плохого не только ценами!
                Мы стараемся изо всех сил, чтобы сделать ваши покупки приятными.</p>
            <div class="servises-wrapper">
                <ul>
                    <li>
                        <button id="servisesbtn1" class="servises-button servises-button-active">Доставка
                        </button>
                    </li>
                    <li>
                        <button id="servisesbtn2" class="servises-button">Грарантия</button>

                    </li>
                    <li>
                        <button id="servisesbtn3" class="servises-button">Кредит</button>
                    </li>

                </ul>
                <ul class="servises-list">
                    <li id="servises1" class="servises-item-delivery servises-item servises-item-active">
                        <h3 class="servise-iten-title">Доставка</h3>
                        <p class="servise-iten-text">Мы с удовольствием доставим ваш товар прямо
                            к вашему подъезду совершенно бесплатно!
                            Ведь мы неплохо заработаем,
                            поднимая его на ваш этаж!</p>
                    </li>
                    <li id="servises2" class="servises-item servises-item-harraty ">
                        <h3 class="servise-iten-title">Гарантия</h3>
                        <p class="servise-iten-text">Если купленный у нас товар поломается или заискрит,
                            а также в случае пожара, спровоцированного его возгоранием, вы всегда можете быть
                            уверены в
                            нашей гарантии. Мы обменяем сгоревший товар на новый.
                            Дом уж восстановите как-нибудь сами.</p>
                    </li>
                    <li id="servises3" class="servises-item servises-item-credit ">
                        <h3 class="servise-iten-title">Кредит</h3>
                        <p class="servise-iten-text">Залезть в долговую яму стало проще!
                            Кредитные консультанты придут вам на помощь.</p>
                        <button class="servises-but but">Отправить заявку</button>
                    </li>
                </ul>
            </div>
        </div>

    </section>
    <section class="info-companu container">
        <div class="info-companu-inf ">
            <h2>Компания "техномарт"</h2>
            <p>
                Настоящий мужской шоппинг начинается здесь! Огромный выбор товаров для ремонта и строительства не
                оставит равнодушными любителей сэкономить на гастарбайтерах.
            </p>
            <p>Мы можем доставить ваш товар в самые отдаленные точки России!
                Техномарт работает со многими транспортными компаниями:</p>
            <ul class="info-companu-partners">
                <li>Деловые линии</li>
                <li>Автотрейдинг</li>
                <li>ЖелДорЭкспедиция</li>
            </ul>
            <a href="" class="servises-but">Подробнее о компании</a>
        </div>

        <div class="info-companu-con ">
            <h3>Контакты</h3>
            <p>Вы можете забрать товар сами,
                заехав в наш офис:</p>
            <iframe
                    src="https://yandex.ru/map-widget/v1/?um=constructor%3A4153b4eee5d06308b9052011adf69a935526222720fd744406f056205eb72472&amp;source=constructor"
                    width="320" height="240" frameborder="0"></iframe>
            <button class="servises-but info-companu-btn">Заблудились? Напишите НАМ!</button>
        </div>


    </section>

    <section class="feedback">
        <button class="feedback-close"></button>
        <form action="{% url 'feedback_url' %}" method="post" class="feedback-form">
            {% csrf_token %}
            <div class="feedback-div">
                <fieldset class="feedback-fieldsed">
                    <!-- <label for="name">Ваше имя:</label>
                <input id="name" placeholder="Имя Фамилия" type="text"> -->
                    <label>
                        Ваше имя:
                        <input placeholder="Имя фамилия" name="name" type="text">
                    </label>
                    <label>
                        Ваш e-mail:
                        <input placeholder="email@example.com" name="email" type="email">
                    </label>
                </fieldset>

                <label>
                    <p>Текст письма:</p>
                    <textarea name="text" class="feedback-textarea" placeholder="В свободной форме"></textarea>
                </label>
            </div>

            <div class="feedback-wrapper ">
                <button class="feedback-btn" type="submit">ОТПРАВТЬ</button>
            </div>
        </form>
    </section>
</main>
{% endblock %}